.spfd-back{
    background: #c9d6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c9d6ff, #e2e2e2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #c9d6ff, #e2e2e2);
    padding-bottom: 17rem;
}

.spfd-content p{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
}
.spfd-content{
    background-color: cornsilk;
}